pyyaml
scipy
fastapi
uvicorn
requests
websocket_client
pandas
pyyaml
pyotp
docker
schedule
websockets
asyncio
websocket_server
nsepythonserver
sqlalchemy
psycopg2
setuptools
pandas
redis
Dependencies/NorenRestApi-0.0.30-py2.py3-none-any.whl